<% content_for :for_head do %>
<%= @meta %>
<% end %>

<div class="wrapper" id="viewer">
<h2><%= @screenshot.image_identifier %></h2>
<img src="<%= @screenshot.image %>">
<h3>Uploaded: <%= @screenshot.created_at %></h3>
<% if user_signed_in? && current_user.id === @screenshot.user_id %>

<%= button_to 'Delete', {controller: "screenshots", action: "delete", id: @screenshot.id }, :method =>  :post  %>
<% end %>