<div class="wrapper">
<h1>Shotta</h1>

<div class="button-bar">
<%= link_to('Logout', destroy_user_session_path, method: :delete) %>      
</div>
<%= form_for current_user, url: {action: "upload"}, html: {class: "dropzone", id: "upload"}, :method => :POST  do |f| %>
    <div class="fallback"> 
        <%= f.file_field :screenshots, multiple: true %>
        <%= f.submit "Upload" %>
    </div>
<% end %>

<% if @screenshots.count > 0 %>
<div class="grid-daddy">
<% @screenshots.each do |screenshot| %>
<% if screenshot.image.url != nil %>
<div class="grid-child" onclick="window.location='/view/<%= screenshot.id %>'">
<div class="img" style="background: url(<%= screenshot.image.url %>);"></div>
</div>
<% end %>
<% end %>
</div>
<% end %>
<%= javascript_include_tag 'dropzone', 'screenshots'  %>
</div>